.project-showcase-container {
  background-color: #808cfb;
  margin: 3em 0;
}

.project-showcase-container h1 {
  font-weight: 600;
  margin-bottom: 0;
}

.project-showcase-container div {
  padding: 0;
}

.project-showcase-container div .about {
  padding: 4em 7.5%;
}

.project-showcase-container div .about h1 {
  color: white;
  display: inline-block;
}

.project-showcase-container div .about p {
  font-weight: 500;
  margin: 1em 0;
  font-size: 1.25em;
}

.project-showcase-container p {
  color: white;
  font-weight: 500;
}

.project-showcase-container a {
  color: white;
  font-weight: 600;
}

.project-showcase-container .bar-sm {
  width: 3em;
  height: 0.35em;
  background-color: #0025f8;
  margin: 1em 0 1.5em 0;
}
