.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #808cfb;
}

.logo_link {
  height: 50px;
}
.nav__logo {
  width: 55%;
  //   height: auto;
}
.nav__list {
  margin-top: 20px;
  //   margin-bottom: 20px;
  margin-left: auto;
}

.nav__item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.nav__link {
  font-weight: bold;
  font-size: 1.5em;
  color: white;

  &:hover {
    // color: $hbp-navy;
    // border-bottom: 2px solid $hbp-navy;
    margin-bottom: -2px;
    text-decoration: none;
  }
}
