.stats-container {
  background-color: white;
  padding: 5em 5%;

  h1 {
    display: inline-block;
    color: #041888;
    font-weight: 600;
    margin: 0;
  }

  .bar-sm {
    width: 3em;
    height: 0.35em;
    background-color: #0059ff;
    margin: 1em 0 1.5em 0;
  }

  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  li {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #808cfb;
  }

  .carousel-control-prev {
    background: transparent;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(25%);
  }

  .carousel-container {
    display: flex;
    justify-content: center;
  }

  .carousel {
    margin: 2em 0;
    width: 60%;
  }
}
