.testimonial-container {
  background-color: #808cfb;
  /* background-color: white; */
  padding: 5em 5%;
}

.testimonial-container h1 {
  font-weight: 600;
  margin-bottom: 0;
  color: white;
}

.testimonial-container .bar-sm {
  width: 3em;
  height: 0.35em;
  background-color: #041888;
  margin: 1em 0 1.5em 0;
}
