.sponsors-container {
  /* background-color: #000C54; */
  background-color: white;
  padding: 5em 5%;
}

.sponsors-container h1 {
  font-weight: 600;
  margin-bottom: 0;
  /* color: white; */
  color: #000c54;
}

.sponsors-container .bar-sm {
  width: 3em;
  height: 0.35em;
  background-color: #0025f8;
  margin: 1em 0 1.5em 0;
}
